@model FreeRentLibrary.Models.LibraryViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>
<div class="container align-content-center">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card mb-5">
                    @if (Model.BookOfTheDay != null)
                    {
                        var bookOfTheDay = Model.BookOfTheDay.Book;
                        <img src="@Url.Content(bookOfTheDay.BookEditions.FirstOrDefault().ImageFullPath)" class="card-img-top">
                        <div class="card-body">
                            <a asp-action="BookEditionsDetails" asp-controller="Books" asp-route-id="@bookOfTheDay.Id"><h5 class="card-title">@bookOfTheDay.Name</h5></a>
                            <p class="card-text">@bookOfTheDay.Author.Name</p>
                        </div>
                    }
                    else
                    {
                        <br />
                        <h3>No Book of the Week</h3>
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="mt-4">Trending Books</h1>

        <div class="row mt-4">
            @foreach (var book in Model.Books.ToList())
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="@Url.Content(book.BookEditions.FirstOrDefault().ImageFullPath)" class="card-img-top">
                        <div class="card-body">
                            <a asp-action="BookEditionsDetails" asp-controller="Books" asp-route-id="@book.Id"><h5 class="card-title">@book.Name</h5></a>
                            <p class="card-text">@book.Author.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
    