@model FreeRentLibrary.Models.BookViewModel

<div class="book">
    <img src="@Model.ImageFile" alt="@Model.BookEditions" />
    <h3>@Model.Name</h3>
    <p>Author: @Model.Author</p>
    <p>Genre: @Model.Genres</p>
</div>
